.review-section__carousel {
    /* Rectangle 124 */
    // width: 1312px;
    margin: 32px 0; //32px 64px;
    height: 308px;
    max-height: 308px;
    background: $highlight; //#F57F31;
    border-radius: 24px;
    padding-top: 96px; //108px; //128px;
    &.slick-dotted.slick-slider {
        margin-bottom: 108px;
    }
    .slick-dots {
        position: relative;
        bottom: -16px;
    }
}
